body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212F3C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
  font-size: 4rem;
  padding-top: 30px;
  text-decoration: underline;
}

img {
  margin-bottom: 30px;
  width: 25%;
}

.cardContainer {
  width: 60%;
  margin: 0 auto;
  background-color: #F0F3F4 ;
  padding: 5px 30px;
  margin: 30px none !important;
  border-radius: 15px;
  border: solid #D0D3D4  5px;
}

h2 {
  font-size: 3rem;
  margin: -3px;
  color: #212F3C;
  text-decoration: underline;
}

span {
  font-size: 1.75rem;
  font-weight: bold;
  color: #212F3C;
}

.statContainer {
  display: flex;
  justify-content: center;
}

.statContainer p {
  margin: 0 5%;
  font-size: 1.25rem;
  font-weight: bold;
  color: #212F3C;
}

button {
  width: 400px;
  height: 50px;
  padding: 5px auto;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: bold;
  margin: 30px 0;
  border: solid #D0D3D4  5px;
  color: #212F3C;
  background-color: #F0F3F4;
}